html, body {
  box-sizing: border-box;
}

.alert {
  color: red;
}

input[type="text"] {
  display: block;
}

.content {
  display: flex;
}

.game {
  flex: 1;
}

.chat {
  width: 300px;
}
.chat .lines {
  padding: 5px;
}
.chat input[type="text"] {
  width: 100%;
}